.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". countTitle"
    "users blogCount"; 
}

.container > div {
    display: inline-block;
}

.countTitle { grid-area: countTitle; }
.users { grid-area: users; }
.blogCount { grid-area: blogCount; }